table.liensPages{
    text-align: center;
    padding: 15px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

.lienslignes{
    background-color: rgb(4, 4, 60);
}

.rowliens{
    color:white;
    display: inline-block;
    padding: 20px 30px;
    text-decoration: none;
    text-align: center;
}

.liens{
    color: white;
    background-color: rgb(4, 4, 60);
    border: none;
    display: inline-block;
    text-align: center;
    padding: 32px 16px;
    margin-left: 46%;
    font-size: 20px;
    border-radius: 12px;
}
.liens:hover{
    background-color: white;
    color:blue;
}
.liens:active{
    background-color: blue;
    color:red;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

li{
    text-align: center;
}

.images{
    width: auto;
    height: 500px;
}

.textImage{
    text-align: center;
}